#cinemaMainCardss{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    
}

#detailCard{
    margin-top: 70px;
    width: 1700px;
    height: 590px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
#detaillll{
    height: 900px;
    width: 1000px;
    box-shadow: 0 0 10px 5px gray;
}
#imageText{
    width: 900px;
    height: 80%;
}
#image{
    width: 60%;
    padding: 30px;
}
#text{
    width: 40%;
    height: 40%;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .pagination li {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  .pagination li.active {
    background-color: #4CAF50;
    color: white;
  }
  #pagination{
    padding-top: 70px;
    padding-left: 600px;
  }