#cinemaMainCardss{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
}

#detailCard{
    margin-top: 70px;
    width: 1700px;
    height: 590px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
#detaillll{
    height: 850px;
    width: 1300px;
}
#imageText{
    width: 900px;
    height: 80%;
}
#image{
    width: 60%;
    padding: 30px;
}
#text{
    width: 40%;
    height: 40%;
}